.answerInsert-wrapper {
    display:none;
    flex-direction: column;
    width:750px;
    height:200px;
    margin:0 auto;
}

.answerInsert-inserttitle {
    display:flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px 10px 10px;
    padding-top:10px;
    border-top: dashed 1px gray;
}
.answerInsert-form {
    display: flex;
    flex-direction: column;
}
.answerInsert-col {
    display:flex;
    justify-content: left;
    align-items: center;
}
.answerInsert-row {
    width:100px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answerInsert-content {
    width:750px;
    height:100px;
    border:solid 1px gray;
    border-radius: 5px;
    resize:none;
    overflow: auto;
    white-space: pre;
}

.answerInsert-savebutton {
    display: flex;
    justify-content: right;
    margin:5px;
    padding-bottom: 10px;
    border-bottom: dashed 1px gray;
}

.answerInsert-savebutton div button {
    color:white;
    background-color: dimgray;
    border:none;
    width:80px;
    height:30px;
    border-radius: 5px;
    margin-left:10px;
    margin-top:10px;
    cursor: pointer;
}
.answerInsert-savebutton div button:hover, .answerInsert-savebutton div button a:hover {
    color:lightgray;
}
.answerInsert-savebutton div button a {
    color:white;
    text-decoration: none;
}
