body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}
.wrapper {
    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid gray;
    border-radius: 20px;
}
.loginTitle {
    width:500px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 40px;
    font-weight: bold;
}
.regmsg {
    font-size: 20px;
}

form div {
    width:300px;
    height:30px;
    display:flex;
    align-items: center;
    margin:10px;
    border-radius: 5px;
    font-size:15px;
}

.row {
    width:100px;
    display:flex;
    justify-content: right;
    font-size:15px;
}
.dup {
    display: flex;
    justify-content: center;
}
.dupcheck {
    display: flex;
    justify-content: center;
    width:80px;
    height:30px;
    border-radius: 5px;
    background-color: gray;
    color:white;
    font-size: 13px;
    cursor: pointer;
}
.dupcheck:hover {
    color:lightgray;
}
.button {
    display:flex;
    justify-content: center;
    align-items: center;
    height:30px;
    margin:10px;
}
button {
    width:80px;
    height:30px;
    border:none;
    border-radius: 5px;
    background-color: gray;
    color:white;
    font-size: 13px;
    cursor: pointer;
    margin-left: 10px;
}
button:hover {
    color:lightgray;
}
