<html>
    <head></head>
    <body>
        <div class="idcheck">[[${idcheck}]]</div>
        <div class="id">[[${id}]]</div>
    </body>
    <script>
        const idcheck = document.querySelector(".idcheck");
        if (idcheck.innerHTML == "noid") {
            alert("입력하신 정보에 맞는 ID를 찾을 수 없습니다.")
            location.href = "/findid"
        } else {
            const id = document.querySelector(".id");
            alert("회원님의 ID는 "+id.innerHTML+" 입니다.")
            location.href = "/login"
        }
    </script>
</html>