<html>
  <haed>
    <link rel="stylesheet" href="./css/findid.css" />
  </haed>
  <body>
    <div class="wrapper">
      <div class="loginTitle">
        <div>KEPCO A : BLOG</div>
        <div class="msg">가입 시 입력하신 이메일과 전화번호를 입력해주세요</div>
      </div>
      <div class="loginContent">
        <form method="post">

          <div class="typeemail">
              <div class="row">e-mail :&nbsp;</div>
              <input class="email" type="email" name="email" maxlength=50>
          </div>
          <div class="typephonenum">
              <div class="row">전화번호 :&nbsp;</div>
              <input class="phonenum" type="text" name="phonenum" maxlength=11 placeholder="'-'를 제외한 번호만 입력해주세요">
          </div>
          <div class="findbutton">
            <button type="submit">아이디 찾기</button>
            <a href="/login"><button type="button">취소</button></a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
