<html>
  <haed>
    <link rel="stylesheet" href="./css/login.css" />
  </haed>
  <body>
    <div class="wrapper">
      <div class="loginTitle">
        <div>KEPCO A : BLOG</div>
      </div>
      <div class="loginContent">
        <form method="post">
          <div class="typeid">
            <div class="idcol1">아이디 :&nbsp;</div>
            <input class="id" type="text" name="id" />
          </div>
          <div class="typepassword">
            <div class="pwcol1">비밀번호 :&nbsp;</div>
            <input class="pw" type="password" name="pw" />
          </div>
          <div class="loginbutton">
            <button type="submit">로그인</button>
          </div>
          <div class="etc">
            <a href="/register">회원가입</a>
            |
            <a href="/findid">아이디 찾기</a>
            |
            <a href="/findpw">비밀번호 찾기</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
