<html>
  <haed>
    <link rel="stylesheet" href="./css/profile.css" />
  </haed>
  <body>
    <div class="wrapper">
      <div class="profileImage">
        <img src="./images/profilepic.png" />
      </div>
      <div class="profileContent">
        <div class="profileName">임태환(lth0813@gmail.com)</div>
        <div class="profileIntro">
          KEPCO A 반에서 수업을 듣고 있는<br>학생 중 하나입니다.<br><br>
          취미는 게임인데 요즘 못하고 있습니다.
        </div>
        <div class="exitbutton">
          <button type="button" onClick="self.close()">확 인</button>
        </div>
      </div>
    </div>
  </body>
</html>
